<section class="section">
  <div class="slide">
    <div class="vh-100 vw-100 d-flex justify-content-center align-items-center">
      <div class="container text-center">
        <h3 class="mb-3 text-truncate w-100">
          The about me <kbd>API</kbd>
        </h3>
        <p class="lead">
          Use your arrows &larr; &rarr; to know more about me and whether we should work together or not.
        </p>
      </div>
    </div>
  </div>
  <div class="slide">
    <div class="vh-100 vw-100 d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row g-5">
          <div class="col-12 col-lg-5 d-flex align-items-center">
            <div>
              <h2 class="h6">
                <kbd>
                  /api/v1/about_me
                </kbd>
              </h2>
              <div class="mb-3">
                <div class="badge bg-success">
                  GET
                </div>
                <div class="badge bg-danger">
                  No Authentication Required
                </div>
              </div>
              <p class="mb-0">
                A simple endpoint to retrieve by basic info.
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-7">
          <p class="small mb-0 text-muted">Output</p>
<pre><code class="language-ruby small">{
  "full_name": "Guilherme Andrade",
  "age": 28,
  "nationalities": ["Portuguese", "Angolan"],
  "languages": ["Portuguese", "English"],
  "city": "Brussels, Belgium"
}</code></pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
