<section class="section">
  <%= render 'navbar', '@absolute': true %>
  <div class="vh-100 vw-100 d-flex justify-content-center align-items-center">
    <div class="container">
      <h1>
        Fullstack Developer, part-time Teacher & Design hobbyist.
      </h1>
      <p>
        Yet another fanboy of the&nbsp;
        <kbd>Ruby On Rails</kbd>
        &nbsp;framework and proud author of 3 (very) modest&nbsp;
        <kbd><a href="https://rubygems.org/profiles/guilherme-andrade" target="_blank">gems</a></kbd>.
      </p>
    </div>
  </div>
</section>
