<section class="section">
  <div class="slide">
    <div class="vh-100 vw-100 d-flex justify-content-center align-items-center">
      <div class="container text-center">
        <h3 class="mb-3 text-truncate w-100">
          The <kbd>FAQ</kbd> module
        </h3>
        <p class="lead">
          Use your arrows &larr; &rarr; to know more about me and whether we should work together or not.
        </p>
      </div>
    </div>
  </div>
  <div class="slide">
    <div class="vh-100 vw-100 d-flex justify-content-center align-items-center">
      <div class="container">
        <h3 class="mb-3 h6 text-truncate w-100">
          <kbd>FAQ#should_we_work_together?</kbd>
        </h3>
        <p class="lead mb-2">
          Yes, if you need them coding skillz in <span class="font-weight-bold">Ruby on Rails</span>,
          and <em>JS Frameworks / UI Design Skills</em> are a plus.
        </p>
        <a
          class="small font-weight-light text-italic d-block"
          data-toggle="collapse"
          href="#when_should_we_work_together"
        >
          (view source code)
        </a>
<pre class=" collapse" id="when_should_we_work_together"><code class="language-ruby"># lib/faq.rb
def should_we_work_together?(*your_needs)
  your_needs.include?('RoR')
end</code></pre>
          <br>
          <blockquote>
            🚨&nbsp;
            <em>
              <span class="font-weight-bold">Warning, selling myself here</span> - At my current job, I alone planned, designed, and coded the rebranding of the application, which led to significant improvements in conversions, in an against-the-clock project that took 3 months.
            </em>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="slide">
    <div class="vh-100 vw-100 d-flex justify-content-center align-items-center">
      <div class="container">
        <h3 class="mb-3 h6 text-truncate w-100">
          <kbd>FAQ#should_we_not_work_together?</kbd>
        </h3>
        <p class="lead">
          The work dress-code is formal. Ties are the worst.
        </p>
        <a
          class="small font-weight-light text-italic d-block"
          data-toggle="collapse"
          href="#when_should_we_not_work_together"
        >
          (view source code)
      </a>
      <pre class=" collapse" id="when_should_we_not_work_together"><code class="language-ruby"># lib/faq.rb
def should_we_not_work_together?(*your_needs)
  your_needs.include?('Formal Dress-Code')
end</code></pre>
      <br>
      <blockquote>
        🧠&nbsp;
        <em>
          <span class="font-weight-bold">How I think</span> - My formal education in hotel school enforced the idea that the way you look matters than who you are, and I didn't like that.
        </em>
      </blockquote>
    </div>
  </div>
</section>
