<section class="section">
  <div class="vh-100 vw-100 d-flex justify-content-center align-items-center">
    <div class="container text-center pt-8">
      <h1 class="mb-5 h5">
        <kbd>My Tech Stack</kbd>
      </h1>
      <div class="d-flex justify-content-center">
        <div class="mx-4 text-center">
          <i class="display-1 devicon-ruby-plain"></i>
          <p>Ruby</p>
        </div>
        <div class="mx-4 text-center">
          <i class="display-1 devicon-rails-plain"></i>
          <p>Rails</p>
        </div>
        <div class="mx-4 text-center">
          <i class="display-1 devicon-react-original"></i>
          <p>React</p>
        </div>
        <div class="mx-4 text-center">
          <i class="display-1 devicon-vuejs-plain"></i>
          <p>Vue</p>
        </div>
        <div class="mx-4 text-center">
          <i class="display-1 devicon-stimulus-plain"></i>
          <p>Stimulus</p>
        </div>
      </div>
      <br>
      <p class="small mb-2">
        Honorable mentions
      </p>
      <p class="text-center">
        <i class="mx-2 devicon-html5-plain"></i>
        <i class="mx-2 devicon-sass-original"></i>
        <i class="mx-2 devicon-postgresql-plain"></i>
        <i class="mx-2 devicon-heroku-plain"></i>
        <i class="mx-2 devicon-git-plain"></i>
        <i class="mx-2 devicon-github-original"></i>
        <i class="mx-2 devicon-bootstrap-plain"></i>
        <i class="mx-2 devicon-yarn-plain"></i>
        <i class="mx-2 devicon-webpack-plain"></i>
      </p>
    </div>
  </div>
</section>
