<ul class="container d-flex justify-content-between align-items-center position-fixed fixed-bottom py-3">
  <div class="d-flex">
    <div class="mr-4 text-center">
      <i class="h6 devicon-ruby-plain"></i>
      <p class="xxsmall font-weight-bold text-uppercase mb-0">Ruby</p>
    </div>
    <div class="mr-4 text-center">
      <i class="h6 devicon-rails-plain"></i>
      <p class="xxsmall font-weight-bold text-uppercase mb-0">Rails</p>
    </div>
    <div class="mr-4 text-center">
      <i class="h6 devicon-react-original"></i>
      <p class="xxsmall font-weight-bold text-uppercase mb-0">React</p>
    </div>
    <div class="mr-4 text-center">
      <i class="h6 devicon-vuejs-plain"></i>
      <p class="xxsmall font-weight-bold text-uppercase mb-0">Vue</p>
    </div>
    <div class="mr-4 text-center">
      <i class="h6 devicon-stimulus-plain"></i>
      <p class="xxsmall font-weight-bold text-uppercase mb-0">Stimulus</p>
    </div>
  </div>
  <p class="xsmall mb-0">
    Interested in working with me?
    <%= link_to 'contact' do %>
      &mdash; click here &mdash;
    <% end %>
  </p>
</ul>
